body{
    background-image:url("background.jpg");
    font-size: x-large;
    color: white;
}
#container{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    align-content: center;
    height: max-content;
    gap: 10px;
    margin-top:20%;
}
.button{
    background-color: rgba(0, 0, 0, 0.633);
    width: 7rem;
    border-color: black;
    border-style: solid;
    border-width: 0.25rem;
    text-align: center;
    transition: transform 0.07s;
}
p{
    color:yellow;
    font-size: xx-large;
    margin: 0;
}
.playing{
    transform: scale(1.5);
    border-color: yellow;
    box-shadow: yellowgreen;
}